.bookmark
  = link_to "Delete", bookmark, controller: :bookmarks, method: :delete, bookmark_id: bookmark.id, class: "btn btn-danger remove_fields", data: { confirm: 'Are you sure you want to delete this bookmark?' }