%h1 Welcome to Bookmarkme
%p The easiest way to track the most fascinating, useful or shocking links you find on the internet 
%br

%h3 The latest posts from around the web

= render partial: 'all_topics', locals: { others_topics: @others_topics }